body {
  font-size: 1.3rem;
}

.preloader {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.5);
}

.preloader > img {
  position: absolute;
  left: 50%;
  margin-left: -33px;
}

.block-edit {
  border: 1px dotted #ddd;
  padding: 5px;
  margin: 5px 0px;
}

.text-block {
  font-family: monospace;
}

.block-menu {
  position: absolute;
  right: 0px;
  top: 0px;
}

.btn {
  cursor: pointer;
}

.block-image-left {
  text-align: left;
  position: relative;
}

.block-image-left > img {
  max-width: 100%;
}

.block-image-right {
  text-align: right;
  position: relative;
}

.block-image-right > img {
  max-width: 100%;
}

.block-image-wide {
  position: relative;
  text-align: center;
}

.block-image-wide > img {
  width: 100%;
  max-width: 100%;
}

.block-image-center {
  text-align: center;
  position: relative;
}

.block-image-center > img {
  max-width: 100%;
}

.block-image-title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.block-image-title > span {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 3px;
  margin: 0px;
}

.post-list {

}

.post-list-item {
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 350px;
  height: 410px;
  display: inline-block;
  margin: 5px;
  position: relative;
}

.post-list-item-header {
  background-color: #999;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 60%;
  z-index: 1;
}

.post-list-item-header > h3 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.75);
}

.post-list-item-body {
  position: absolute;
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 0px;
  right: 0px;
  padding: 5px;
  background: #fff;
}

.post-list-item-footer {
  position: absolute;
  z-index: 3;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 5px;
  background: #fff;
}


.image-block-edit {
  background: #eee;
  position: relative;
}

.image-title-edit {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.image-block-edit-back {

}

.image-block-edit-back > h3 {
  padding: 10px 0px;
  margin: 0px;
  cursor: pointer;
}

.preview-image {
  max-width: 100%;
}

.hidden {
  display: none;
}

.comment-background {
  position: relative;
  padding: 5px;
  background: #eee;
}

.comment-background textarea {
  max-width: 100%;
  min-width: 500px;
  resize: both;
}

.comment-item {
  border: 1px dotted #aaa;
  padding: 5px;
}

.comment-item .comment-header {
  background: #eee;
  margin: 0px;
}

.comment-item .comment-author {
  padding-right: 15px;
}

.comment-item .comment-author strong {
  padding-right: 5px;
}

.answer-to-this {
  background: #fff6a8;
}

.comment-image-preview {
  max-width: 100%;
}

.comment-boody {
  padding-top: 5px;
}
